@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap');

/** Universal **/
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: rgb(200, 0, 0);
}

.fancy-title {
  color: black;
  font-family: 'Dancing Script', cursive;
  font-size: 48pt;
}

.dual-column {
  display: flex;
  justify-content: center;
  width: 100%;
}

.solid-background {
  background-color: #212d3b;
  text-align: center;
}

/** Header **/
.header {
  background: url('../images/twohands.jpg'),
  linear-gradient(transparent, 85%, black);

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  height: 855px;
  text-align: center;
  padding-top: 6vw;

  text-shadow: -1px -1px white, 1px 1px white,
  1px -1px white, -1px 1px white;
}

/** RSVP **/
.rsvp-background {
  background: linear-gradient(160deg, rgba(0, 0, 0, 0.15), transparent);
  padding-top: 5vw;
  padding-bottom: 2vw;
  position: relative;
}

/** Schedule **/
.time-column {
  text-align: left;
  font-size: 2.5vw;
  padding-left: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 20%;
  max-width: 250px;
  color: white;
}

.event-column {
  text-align: right;
  font-size: 2.5vw;
  padding-right: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 70%;
  max-width: 875px;
  color: white;
}

.light {
  background-color: #425973;
}

.dark {
  background-color: #00162e;
  padding: 2%;
  font-weight: 600;
}

/** Venue **/
.venue-background {
  width: 100%;
  padding-top: 50px;
  position: relative;
}

.line {
  background-color: black;
  width: 50%;
  height: 2px;
  margin-top: 2.5%;
}

.map {
  width: 45%;
  height: 45vw;
  max-height: 600px;
  max-width: 600px;
  border: 1px solid black;
}

.address-title {
  color: black;
  font-family: 'Dancing Script', cursive;
  font-size: 30pt;
}

.address-box {
  width: 40%;
  padding-left: 5%;
  padding-right: 5%;
  color: black;
  background-color: red;
  font-size: 14pt;
  display: flex;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  border: 1px solid black;
  border-right: 0 solid transparent;
  background: linear-gradient(160deg, rgba(0, 0, 0, 0.15), transparent);
}

/** FAQ **/
.q-card {
  width: 40%;
  margin-left: 3%;
  margin-right: 3%;
  background-color: #425973;
  border: 2px solid #00162e;
  font-size: 14pt;
}

/** Extra Links **/
.link-box {
  width: 45%;
  max-width: 600px;
  padding: 2.5%;
  position: relative;
}

.link-image {
  width: 100%;
  border: 1px solid black;
  opacity: 0.75;
  transition: 0.25s;
}

.link-image:hover {
  opacity: 1;
  transform: scale(1.015);
}

.overlay-text {
  position: absolute;
  color: white;
  font-size: 30pt;
  text-shadow: -1px -1px black, 1px 1px black,
  -1px 1px black, 1px -1px black;
  top: 50%;
  left: 50%;
}

/** Footer **/
.foot {
  height: fit-content;
  background-color: #5F8575;
  box-shadow: 0 0 10px 0 black;
  position: relative;
  text-align: right;
}

.foot-text {
  font-family: 'Montserrat', sans-serif;
  color: #001009;
  font-size: 6pt;
  padding: 2px;
}

/** Small Screen **/
@media only screen and (max-width: 1329px) {
  .header {
    background-size: auto 875px;
  }

  .overlay-text {
    font-size: 5vw;
  }

  .address-box {
    font-size: 2.5vw;
  }

  .address-title {
    font-size: 4vw;
  }
}