@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Ubuntu&display=swap');

* {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}

a {
  color:rgb(174, 33, 33);
}

.App {
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.head-background {
  background-image: url('../images/twohands.jpg'), 
  radial-gradient(rgba(255, 238, 178, 0.05), rgba(255, 238, 178, 0.15)),
  linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 25, 0, 0.35));
  background-blend-mode: overlay;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  height: 855px;

  text-shadow: -1px -1px white, 1px 1px white,
  1px -1px white, -1px 1px white;
}

.link-background {
  background-image: url('../images/blanket.jpg'), 
  radial-gradient(rgba(0, 0, 0, 0.15), black);
  background-blend-mode: overlay;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  height: 100%;
  color: white;
}

.bw-background {
  background-color: white;
  display: flex;
  color: black;
}

.red-background {
  background: radial-gradient(rgb(160, 0, 0), maroon);
  box-shadow: 0 0 10px 5px black;
  color: goldenrod;
}

.gray-background {
  background: radial-gradient(rgb(24, 24, 24), black);
  color: white;
}

.dual-column {
  display: flex;
}

.title {
  font-family: 'Dancing Script', cursive;
  font-size: 48pt;
}

.imageLinks {
  transition: 0.25s;
  width: 25%;
  border-radius: 5%;
  border: 2px solid goldenrod;
  background-color: rgb(70, 0, 0);
  box-shadow: 0 0 10px 2px black;
}

.imageLinks:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px 1px black;
}

.imageLinks:active {
  border-radius: 50%;
}

.labelLink {
  text-decoration: none;
  color: white;
  font-size: 2vw;
  transform: translate(0, 1vw)
}

.labelLink:hover {
  text-decoration: none;
  color: wheat;
}

.labelLink:visited {
  text-decoration: none;
  color: white;
}

.labelLink:active {
  text-decoration: none;
  color: goldenrod;
}

@media only screen and (max-width: 1329px) {
  .head-background {
    background-size: auto 855px;
  }
}
